body {
    background-color: #011001;
}

#tehvidya {
    height: 95vh;
}

#content {
    position: relative;
}

#title {
    position: absolute;
    top: 3px;
    left: 3px;
    color: papayawhip;
    transition: all 1s cubic-bezier(0, 0, .81, -0.05);
    text-shadow: 5px 5px 5px black;
}